USE [master]
GO
/****** Object:  Database [QL_LINHKIEN]    Script Date: 10/18/2019 12:54:08 PM ******/
CREATE DATABASE [QL_LINHKIEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_LINHKIEN', FILENAME = N'C:\Users\user\Downloads\QL_LINHKIEN\QL_LINHKIEN.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_LINHKIEN_log', FILENAME = N'C:\Users\user\Downloads\QL_LINHKIEN\QL_LINHKIEN_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_LINHKIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_LINHKIEN]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 10/18/2019 12:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MAPHIEUNHAP] [int] NOT NULL,
	[MAHANG] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[GIANHAP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC,
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUXUAT]    Script Date: 10/18/2019 12:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUXUAT](
	[MAPHIEUXUAT] [int] NOT NULL,
	[MAHANG] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[GIAXUAT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUXUAT] ASC,
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 10/18/2019 12:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MADM] [int] IDENTITY(1,1) NOT NULL,
	[TENDANHMUC] [nvarchar](50) NULL,
	[NGAYTAO] [date] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MADM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HANG]    Script Date: 10/18/2019 12:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HANG](
	[MAHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENHANG] [varchar](200) NULL,
	[THONGSO] [nvarchar](max) NULL,
	[BAOHANH] [int] NULL,
	[SOLUONG] [int] NULL,
	[GIA] [int] NULL,
	[HINH] [varchar](100) NULL DEFAULT ('default.png'),
	[NHASANXUAT] [varchar](50) NULL,
	[NGAYTAO] [date] NULL DEFAULT (getdate()),
	[MADANHMUC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/18/2019 12:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[NAMSINH] [date] NULL,
	[NGAYTAO] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 10/18/2019 12:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [int] IDENTITY(1,1) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](80) NULL,
	[FAX] [char](10) NULL,
	[EMAIL] [varchar](50) NULL,
	[NGAYTAO] [date] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/18/2019 12:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD] [varchar](80) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[DIACHI] [nvarchar](80) NULL,
	[NAMSINH] [date] NULL,
	[LOAINHANVIEN] [tinyint] NULL,
	[GIOITINH] [bit] NULL,
	[NGAYTAO] [date] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 10/18/2019 12:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPHIEUNHAP] [int] IDENTITY(1,1) NOT NULL,
	[NGAYTAO] [date] NULL,
	[MANCC] [int] NULL,
	[MANV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 10/18/2019 12:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPHIEUXUAT] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NULL,
	[NGAYTAO] [date] NULL,
	[MANV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUXUAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[DANHMUC] ON 

INSERT [dbo].[DANHMUC] ([MADM], [TENDANHMUC], [NGAYTAO]) VALUES (1, N'Mainboard - Bo mạch chủ', CAST(N'2019-10-16' AS Date))
INSERT [dbo].[DANHMUC] ([MADM], [TENDANHMUC], [NGAYTAO]) VALUES (2, N'CPU - Bộ vi xử lý', CAST(N'2019-10-16' AS Date))
INSERT [dbo].[DANHMUC] ([MADM], [TENDANHMUC], [NGAYTAO]) VALUES (3, N'RAM - Bộ nhớ trong', CAST(N'2019-10-16' AS Date))
SET IDENTITY_INSERT [dbo].[DANHMUC] OFF
SET IDENTITY_INSERT [dbo].[HANG] ON 

INSERT [dbo].[HANG] ([MAHANG], [TENHANG], [THONGSO], [BAOHANH], [SOLUONG], [GIA], [HINH], [NHASANXUAT], [NGAYTAO], [MADANHMUC]) VALUES (3, N'CPU Intel Core i5 9600K', N'Bộ vi xử lý Intel Core i5 9600K, 6 nhân 6 luồng, 9MB cache
Là sản phẩm dựa trên kiến trúc Coffee Lake Refresh thế hệ mới nhất
Bộ vi xử lý này có tần số cơ bản là 3.7 GHz turbo lên tới 4.6 GHz. Mức TDP 95W
Hỗ trợ RAM DDR4 2666 / Dual Channel', 36, 972, 6299000, N'default.png', N'INTEL', CAST(N'2019-10-16' AS Date), 2)
SET IDENTITY_INSERT [dbo].[HANG] OFF
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [FAX], [EMAIL], [NGAYTAO]) VALUES (1, N'FPT Trading', N'Quận 3 - TP.Ho Chi Minh', N'0987654321', N'FPTTradinh@gmail.com', CAST(N'2019-10-16' AS Date))
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [FAX], [EMAIL], [NGAYTAO]) VALUES (2, N'Smart Tech', N'Quận 7 - TP.Ho Chi Minh', N'0987654324', N'SmartTech@gmail.com', CAST(N'2019-10-16' AS Date))
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [FAX], [EMAIL], [NGAYTAO]) VALUES (3, N'Dream Viet Trading', N'Quận Sơn Trà - TP.Đà Nẵng', N'0987654326', N'DreamViet@gmail.com', CAST(N'2019-10-16' AS Date))
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [USERNAME], [PASSWORD], [HOTEN], [SDT], [DIACHI], [NAMSINH], [LOAINHANVIEN], [GIOITINH], [NGAYTAO]) VALUES (1, N'hoainam', N'hoainam1998', N'Nguyễn Khoa Hoài Nam', N'0987564321', N'Hùng Vương - Quy Nhơn', CAST(N'1998-01-01' AS Date), 0, 0, CAST(N'2019-10-16' AS Date))
INSERT [dbo].[NHANVIEN] ([MANV], [USERNAME], [PASSWORD], [HOTEN], [SDT], [DIACHI], [NAMSINH], [LOAINHANVIEN], [GIOITINH], [NGAYTAO]) VALUES (2, N'thanhthien', N'thanhthien1998', N'Từ Thanh Thiện', N'0987564322', N'Ngô Mây - Quy Nhơn', CAST(N'1998-02-01' AS Date), 1, 0, CAST(N'2019-10-16' AS Date))
INSERT [dbo].[NHANVIEN] ([MANV], [USERNAME], [PASSWORD], [HOTEN], [SDT], [DIACHI], [NAMSINH], [LOAINHANVIEN], [GIOITINH], [NGAYTAO]) VALUES (3, N'hoahau', N'hoahau2000', N'Nguyễn Thị Hoa Hậu', N'0987564324', N'An Dương Vương - Quy Nhơn', CAST(N'1998-02-04' AS Date), 2, 1, CAST(N'2019-10-16' AS Date))
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[PHIEUNHAP] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[PHIEUXUAT] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANG] ([MAHANG])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAP] ([MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANG] ([MAHANG])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD FOREIGN KEY([MAPHIEUXUAT])
REFERENCES [dbo].[PHIEUXUAT] ([MAPHIEUXUAT])
GO
ALTER TABLE [dbo].[HANG]  WITH CHECK ADD FOREIGN KEY([MADANHMUC])
REFERENCES [dbo].[DANHMUC] ([MADM])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
/****** Object:  StoredProcedure [dbo].[USP_PagingHang]    Script Date: 10/18/2019 12:54:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_PagingHang]
(@currentPage int, @pageSize int)
as
begin
	
	DECLARE @rowSelect INT = (@currentPage * @pageSize)
	DECLARE @rowExcept INT = (@currentPage -1) * @pageSize

	select TOP (@rowSelect) * from hang
	except
	select TOP (@rowExcept) * from hang
end

GO
USE [master]
GO
