USE [master]
GO
/****** Object:  Database [QL_LINHKIEN]    Script Date: 12/11/2019 1:11:41 PM ******/
CREATE DATABASE [QL_LINHKIEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_LINHKIEN', FILENAME = N'D:\Ex-on-school\school\DatabaseAnalyst\QL_LINHKIEN.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_LINHKIEN_log', FILENAME = N'D:\Ex-on-school\school\DatabaseAnalyst\QL_LINHKIEN_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_LINHKIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_LINHKIEN]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 12/11/2019 1:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MAPHIEUNHAP] [int] NOT NULL,
	[MAHANG] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[GIANHAP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC,
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUXUAT]    Script Date: 12/11/2019 1:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUXUAT](
	[MAPHIEUXUAT] [int] NOT NULL,
	[MAHANG] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[GIAXUAT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUXUAT] ASC,
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 12/11/2019 1:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MADM] [int] IDENTITY(1,1) NOT NULL,
	[TENDANHMUC] [nvarchar](50) NULL,
	[NGAYTAO] [date] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MADM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HANG]    Script Date: 12/11/2019 1:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HANG](
	[MAHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENHANG] [varchar](200) NULL,
	[THONGSO] [nvarchar](max) NULL,
	[BAOHANH] [int] NULL,
	[SOLUONG] [int] NULL,
	[GIA] [int] NULL,
	[HINH] [varchar](100) NULL DEFAULT ('default.png'),
	[NHASANXUAT] [varchar](50) NULL,
	[NGAYTAO] [date] NULL DEFAULT (getdate()),
	[MADANHMUC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/11/2019 1:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[NAMSINH] [date] NULL,
	[NGAYTAO] [date] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/11/2019 1:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [int] IDENTITY(1,1) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](80) NULL,
	[FAX] [char](10) NULL,
	[EMAIL] [varchar](50) NULL,
	[NGAYTAO] [date] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/11/2019 1:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD] [varchar](80) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[DIACHI] [nvarchar](80) NULL,
	[NAMSINH] [date] NULL,
	[LOAINHANVIEN] [tinyint] NULL,
	[GIOITINH] [bit] NULL,
	[NGAYTAO] [date] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 12/11/2019 1:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPHIEUNHAP] [int] IDENTITY(1,1) NOT NULL,
	[NGAYTAO] [date] NULL DEFAULT (getdate()),
	[MANCC] [int] NULL,
	[MANV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 12/11/2019 1:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPHIEUXUAT] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NULL,
	[NGAYTAO] [date] NULL DEFAULT (getdate()),
	[MANV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUXUAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAPHIEUNHAP], [MAHANG], [SOLUONG], [GIANHAP]) VALUES (2, 1, 3, 0)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAPHIEUNHAP], [MAHANG], [SOLUONG], [GIANHAP]) VALUES (2, 3, 3, 0)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAPHIEUNHAP], [MAHANG], [SOLUONG], [GIANHAP]) VALUES (3, 1, 3, 30000)
INSERT [dbo].[CHITIETPHIEUXUAT] ([MAPHIEUXUAT], [MAHANG], [SOLUONG], [GIAXUAT]) VALUES (5, 1, 2, 18990000)
INSERT [dbo].[CHITIETPHIEUXUAT] ([MAPHIEUXUAT], [MAHANG], [SOLUONG], [GIAXUAT]) VALUES (6, 1, 2, 18990000)
INSERT [dbo].[CHITIETPHIEUXUAT] ([MAPHIEUXUAT], [MAHANG], [SOLUONG], [GIAXUAT]) VALUES (6, 4, 2, 4599000)
SET IDENTITY_INSERT [dbo].[DANHMUC] ON 

INSERT [dbo].[DANHMUC] ([MADM], [TENDANHMUC], [NGAYTAO]) VALUES (1, N'Mainboard - Bo mạch chủ', CAST(N'2019-10-16' AS Date))
INSERT [dbo].[DANHMUC] ([MADM], [TENDANHMUC], [NGAYTAO]) VALUES (2, N'CPU - Bộ vi xử lý', CAST(N'2019-10-16' AS Date))
INSERT [dbo].[DANHMUC] ([MADM], [TENDANHMUC], [NGAYTAO]) VALUES (3, N'RAM - Bộ nhớ trong', CAST(N'2019-10-16' AS Date))
SET IDENTITY_INSERT [dbo].[DANHMUC] OFF
SET IDENTITY_INSERT [dbo].[HANG] ON 

INSERT [dbo].[HANG] ([MAHANG], [TENHANG], [THONGSO], [BAOHANH], [SOLUONG], [GIA], [HINH], [NHASANXUAT], [NGAYTAO], [MADANHMUC]) VALUES (3, N'CPU Intel Core i5 9600K', N'Bộ vi xử lý Intel Core i5 9600K, 6 nhân 6 luồng, 9MB cache
Là s?n ph?m d?a trên ki?n trúc Coffee Lake Refresh th? h? m?i nh?t
B? vi x? lý này có t?n s? co b?n là 3.7 GHz turbo lên t?i 4.6 GHz. M?c TDP 95W
H? tr? RAM DDR4 2666 / Dual Channel', 36, 971, 6299000, N'8mc370pksh.jpg', N'INTEL', CAST(N'2019-10-16' AS Date), 2)
SET IDENTITY_INSERT [dbo].[HANG] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [SDT], [NAMSINH], [NGAYTAO]) VALUES (1, N'tesst', N'0123456789', CAST(N'2019-11-03' AS Date), CAST(N'2019-11-03' AS Date))
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [SDT], [NAMSINH], [NGAYTAO]) VALUES (2, N'cascas', N'0123456789', CAST(N'2019-11-03' AS Date), CAST(N'2019-11-03' AS Date))
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [SDT], [NAMSINH], [NGAYTAO]) VALUES (3, N'khach moi', N'0123456789', CAST(N'2019-11-03' AS Date), CAST(N'2019-11-03' AS Date))
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [FAX], [EMAIL], [NGAYTAO]) VALUES (1, N'FPT Trading', N'Quận 3 - TP.Ho Chi Minh', N'0987654321', N'FPTTradinh@gmail.com', CAST(N'2019-10-16' AS Date))
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [FAX], [EMAIL], [NGAYTAO]) VALUES (2, N'Smart Tech', N'Quận 7 - TP.Ho Chi Minh', N'0987654324', N'SmartTech@gmail.com', CAST(N'2019-10-16' AS Date))
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [FAX], [EMAIL], [NGAYTAO]) VALUES (3, N'Dream Viet Trading', N'Quận Sơn Trà - TP.Đà Nẵng', N'0987654326', N'DreamViet@gmail.com', CAST(N'2019-10-16' AS Date))
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [USERNAME], [PASSWORD], [HOTEN], [SDT], [DIACHI], [NAMSINH], [LOAINHANVIEN], [GIOITINH], [NGAYTAO]) VALUES (1, N'hoainam', N'hoainam19988', N'Nguyễn Khoa Hoài Nam', N'0987564321', N'Hùng Vương - Quy Nhơn', CAST(N'1998-01-01' AS Date), 0, 0, CAST(N'2019-10-16' AS Date))
INSERT [dbo].[NHANVIEN] ([MANV], [USERNAME], [PASSWORD], [HOTEN], [SDT], [DIACHI], [NAMSINH], [LOAINHANVIEN], [GIOITINH], [NGAYTAO]) VALUES (2, N'thanhthien', N'thanhthien1998', N'Từ Thanh Thiện', N'0987564322', N'Ngô Mây - Quy Nhon', CAST(N'1998-02-01' AS Date), 1, 0, CAST(N'2019-10-27' AS Date))
INSERT [dbo].[NHANVIEN] ([MANV], [USERNAME], [PASSWORD], [HOTEN], [SDT], [DIACHI], [NAMSINH], [LOAINHANVIEN], [GIOITINH], [NGAYTAO]) VALUES (3, N'hoahau', N'hoahau2000', N'Nguyễn Thị Hoa Hậu', N'0987564324', N'An Dương Vương - Quy Nhơn', CAST(N'1998-02-04' AS Date), 2, 1, CAST(N'2019-10-16' AS Date))
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] ON 

INSERT [dbo].[PHIEUNHAP] ([MAPHIEUNHAP], [NGAYTAO], [MANCC], [MANV]) VALUES (1, CAST(N'2019-11-11' AS Date), 4, 1)
INSERT [dbo].[PHIEUNHAP] ([MAPHIEUNHAP], [NGAYTAO], [MANCC], [MANV]) VALUES (2, CAST(N'2019-11-11' AS Date), 1, 1)
INSERT [dbo].[PHIEUNHAP] ([MAPHIEUNHAP], [NGAYTAO], [MANCC], [MANV]) VALUES (3, CAST(N'2019-11-11' AS Date), 3, 1)
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] OFF
SET IDENTITY_INSERT [dbo].[PHIEUXUAT] ON 

INSERT [dbo].[PHIEUXUAT] ([MAPHIEUXUAT], [MAKH], [NGAYTAO], [MANV]) VALUES (5, 1, CAST(N'2019-11-03' AS Date), 1)
INSERT [dbo].[PHIEUXUAT] ([MAPHIEUXUAT], [MAKH], [NGAYTAO], [MANV]) VALUES (6, 3, CAST(N'2019-11-03' AS Date), 1)
INSERT [dbo].[PHIEUXUAT] ([MAPHIEUXUAT], [MAKH], [NGAYTAO], [MANV]) VALUES (7, 2, CAST(N'2019-11-04' AS Date), 1)
SET IDENTITY_INSERT [dbo].[PHIEUXUAT] OFF
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANG] ([MAHANG])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAP] ([MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANG] ([MAHANG])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD FOREIGN KEY([MAPHIEUXUAT])
REFERENCES [dbo].[PHIEUXUAT] ([MAPHIEUXUAT])
GO
ALTER TABLE [dbo].[HANG]  WITH CHECK ADD FOREIGN KEY([MADANHMUC])
REFERENCES [dbo].[DANHMUC] ([MADM])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
/****** Object:  StoredProcedure [dbo].[PHANTRANG_DANHMUC]    Script Date: 12/11/2019 1:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PHANTRANG_DANHMUC] (@currentPage int, @pageSize int)
AS
BEGIN
	DECLARE @rowSelect int =(@currentPage * @pageSize)
	DECLARE @rowExcept int=(@currentPage -1)*@pageSize;

	SELECT TOP(@rowSelect) *from danhmuc
	EXCEPT
	SELECT TOP(@rowExcept) *from danhmuc
END

GO
/****** Object:  StoredProcedure [dbo].[PHANTRANG_KHACHHANG]    Script Date: 12/11/2019 1:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[PHANTRANG_KHACHHANG](@currentPage int,@pageSize int)
as 
begin
	
	declare @rowSelect int=(@currentPage * @pageSize);
	declare @rowExcept int=(@currentPage -1) * @pageSize;

	select top(@rowSelect) *from khachhang
	except
	select top(@rowExcept) * from khachhang

end;	 

GO
/****** Object:  StoredProcedure [dbo].[PHANTRANG_NCC]    Script Date: 12/11/2019 1:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[PHANTRANG_NCC](@currentPage int, @pageSize int)
as 
begin
	
	declare @rowSelect int=(@currentPage * @pageSize);
	declare @rowExcept int=(@currentPage -1)*@pageSize;

	select top(@rowSelect) *from nhacungcap
	except
	select top(@rowExcept) *from nhacungcap

end;

GO
/****** Object:  StoredProcedure [dbo].[PHANTRANG_NHANVIEN]    Script Date: 12/11/2019 1:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[PHANTRANG_NHANVIEN](@currentPage int,@pageSize int)
as
begin

	declare @rowSelect int=(@currentPage*@pageSize);
	declare @rowExcept int=(@currentPage-1) *@pageSize;

	select top(@rowSelect) *from nhanvien
	except 
	select top(@rowExcept) *from nhanvien

end;

GO
/****** Object:  StoredProcedure [dbo].[USP_PagingHang]    Script Date: 12/11/2019 1:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_PagingHang]
(@currentPage int, @pageSize int)
as
begin
	
	DECLARE @rowSelect INT = (@currentPage * @pageSize)
	DECLARE @rowExcept INT = (@currentPage -1) * @pageSize

	select TOP (@rowSelect) hang.*, DANHMUC.TENDANHMUC from hang, DANHMUC
	where DANHMUC.MADM = hang.MADANHMUC
	except
	select TOP (@rowExcept) hang.*, DANHMUC.TENDANHMUC from hang, DANHMUC
	where DANHMUC.MADM = hang.MADANHMUC
end
GO
/****** Object:  StoredProcedure [dbo].[USP_PagingHangByMaDM]    Script Date: 12/11/2019 1:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_PagingHangByMaDM]
(@currentPage int, @pageSize int, @maDM int)
as
begin
	
	DECLARE @rowSelect INT = (@currentPage * @pageSize)
	DECLARE @rowExcept INT = (@currentPage -1) * @pageSize

	select TOP (@rowSelect) hang.*, DANHMUC.TENDANHMUC from hang, DANHMUC
	where DANHMUC.MADM = hang.MADANHMUC
	AND HANG.MADANHMUC = @maDM
	except
	select TOP (@rowExcept) hang.*, DANHMUC.TENDANHMUC from hang, DANHMUC
	where DANHMUC.MADM = hang.MADANHMUC
	AND HANG.MADANHMUC = @maDM
end
GO
/****** Object:  StoredProcedure [dbo].[USP_ReportKhachHang]    Script Date: 12/11/2019 1:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_ReportKhachHang] (@From nvarchar(30), @To nvarchar(30))
as
begin
	select * from KHACHHANG
	where NGAYTAO between @From and @To
end
GO
/****** Object:  StoredProcedure [dbo].[USP_ReportLoiNhuan]    Script Date: 12/11/2019 1:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_ReportLoiNhuan]
as
begin
declare @TongThu INT = 0
declare @TongChi INT = 0

set @TongThu = (select sum(GIAXUAT) from CHITIETPHIEUXUAT)
set @TongChi = (select sum(GIANHAP) from CHITIETPHIEUNHAP)


select (ISNULL(@TongThu,0)) as TongThu, (ISNULL(@TongChi,0)) as TongChi, (@TongThu - ISNULL(@TongChi,0)) as LoiNhuan
end
GO
/****** Object:  StoredProcedure [dbo].[USP_ReportPhieuNhap]    Script Date: 12/11/2019 1:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USP_ReportPhieuNhap](@From nvarchar(30), @To nvarchar(30))
as
begin
	select Hang.TENHANG,PHIEUNHAP.NGAYTAO, CHITIETPHIEUNHAP.GIANHAP, CHITIETPHIEUNHAP.SOLUONG,
	(CHITIETPHIEUNHAP.GIANHAP * CHITIETPHIEUNHAP.SOLUONG ) as THANHTIEN
    from PHIEUNHAP,CHITIETPHIEUNHAP,HANG
	where PHIEUNHAP.NGAYTAO between @From  AND @To
	AND PHIEUNHAP.MAPHIEUNHAP = CHITIETPHIEUNHAP.MAPHIEUNHAP
	AND CHITIETPHIEUNHAP.MAHANG = HANG.MAHANG
end
GO
/****** Object:  StoredProcedure [dbo].[USP_ReportPhieuXuat]    Script Date: 12/11/2019 1:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ReportPhieuXuat](@From nvarchar(30), @To nvarchar(30))
as
begin
	select Hang.TENHANG,PHIEUXUAT.NGAYTAO, CHITIETPHIEUXUAT.GIAXUAT, CHITIETPHIEUXUAT.SOLUONG,
	(CHITIETPHIEUXUAT.GIAXUAT * CHITIETPHIEUXUAT.SOLUONG ) as THANHTIEN
    from PHIEUXUAT,CHITIETPHIEUXUAT,HANG
	where PHIEUXUAT.NGAYTAO between @From  AND @To
	AND PHIEUXUAT.MAPHIEUXUAT = CHITIETPHIEUXUAT.MAPHIEUXUAT
	AND CHITIETPHIEUXUAT.MAHANG = HANG.MAHANG
end
GO
USE [master]
GO
